{% extends 'base.html' %}

{% block title %}New Task{% endblock %}

{% block body %}

<h1>Add new task</h1>
<form action="/todolist/newtask" method="post" id="formSignup">

    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input id="inputTitle" name="title" placeholder="Title" autofocus class="form-control" />
        <input type="hidden" name="id" value={{id}}>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Priority</label>
        <select class="form-control" id="exampleFormControlSelect1" name="priority">
            <option>low</option>
            <option>normal</option>
            <option>high</option>
        </select>
    </div>
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="datetime-local" id="deadline" name="date" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">State</label>
        <select class="form-control" id="exampleFormControlSelect2" name="state">
            <option>finished</option>
            <option>not finished</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-default">Create Task</button>
</form>
{% endblock %}